@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  overflow: hidden;
  height: 100%;
  overscroll-behavior: none;
}

body{
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

p{
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

/* ---------------------- */
/* ANIMATED BACKGROUND */
#can1{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    z-index: -5;
    /* background-size: cover; */
}

#vers{
  display: block;
  font-family: 'Share Tech Mono', monospace;
  color: rgba(255,255,240, 1);
  font-size: 14px;
  text-align: center;
}

/* ---------------------- */
/* TOP NAV BAR (HOLDS TITLE) */
#navi{
    width: 70%;
    margin-left: 15%;
    margin-top: 2.5%;   
    padding-top: 1%;
    background-color:rgba(255,255,240, .2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    z-index: 15;
    border: solid;
    justify-content: center;   
}
#title:hover{
  color: #20B2AA;
}
#title{
  grid-column: 3/5;
  padding-bottom: 1%;
  text-decoration-line: underline;
  text-shadow: black;
  color: rgba(255,255,240, .85);
  font-size: 35px;
  font-size: 2.2vw;
  font-family: 'Share Tech Mono', monospace;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  display: block;
  text-align: center;
}
/* ANIMATE TITLE */
/* @keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
} */

/* ---------------------- */
/* LOWER NAV BAR (HOLDS BUTTONS) */
#navlower{
  width: 70%;
  margin-left: 15%;
  padding-top: 1%;
  background-color:rgba(255,255,240, .35);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  z-index: -1;
  border: solid;
  border-top: none;
  justify-content: center;
}

/* ---------------------- */
/* DROP DOWN MENU INSIDE LOWER NAV */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}

nav li {
  float: left;
  width: 120px;
  height: 40px;  
  background-color: rgba(0,0,0,.6);
  line-height: 40px;
  text-align: center;
  position: relative;
  z-index: 15; 
}

nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  z-index: 15;
  font-family: 'Share Tech Mono', monospace; 
}

nav li a:hover {
  background-color: #20B2AA;
  color: black;
  z-index: 15;
}

nav ul.sub {
  position: absolute;
  display: none;
  z-index: 15;
}

nav ul.sub li ul.sub {
  top:0;
  left: 160px;
  z-index: 15;
}

/* ---------------------- */
/* BUTTON(S) NEXT TO DROP DOWN MENU */
.navbtns{
  float: left;
  width: 120px;
  height: 40px;
  background-color: rgba(0,0,0,.6);
  line-height: 40px;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  z-index: 15;
  font-family: 'Share Tech Mono', monospace;
}

.navbtns:hover{
  background-color:#20B2AA;
  color: black;
}

#portnav{
  width: 100%;
  /* margin-left: 15%; */
  padding-top: 0%;
  /* background-color:rgba(255,255,240, .35); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* color: white; */
  align-items: center;
  z-index: 1;
  /* border: solid; */
  /* border-top: none; */
  justify-content: center;
}

.portbtns{
  float: left;
  width: 110px;
  height: 40px;
  background-color: rgba(0,0,0,.45);
  line-height: 40px;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  z-index: 1;
  font-family: 'Share Tech Mono', monospace;
}

.portbtns:hover{
  background-color:#20B2AA;
  color: black;
}

/* ---------------------- */
/* BIG DIV DISPLAYING MAIN CONTENT */
  #main{
    width: 70%;
    padding-bottom: 2%;
    margin-left: 15%;
    background-color:rgba(255,255,240, .2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    z-index: -1;
    border: solid;
    border-top: none; 
  }

  #game-wrapper {
    z-index: 1;
    display: none;
    height: 700px;
    /* overflow: hidden;
    overflow-y:scroll; */
  }

  /* ---------------------- */
  #home{   
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #home span{
    color: rgba(255,255,240, 1);
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-align: center;
  }

  /* HOME PAGE GIF */
  #pipefire{
    z-index: 1;
    align-self: center;
    width: 75%;
  }

  /* ---------------------- */
 /* RESUME PAGE */
 hr{
   color: #20B2AA;
   width: 80%;
   margin-left: 10%;
 }

  #resume{
    font-size: 17px;
    margin-left: 10%;
    margin-right: 10%; 
    background-color: rgb(255,255,240);
    font-family: 'Share Tech Mono', monospace;
    color: black;
    text-align: center;
    padding-top: 2.5%;
    display: none;
  }
  
  #resumebtn, #star{
    display: none;
  }
  
  #homebtn, #menu .dropmenu li a:hover {
    color: white !important;
  }

  #name{
    font-size: 20px;

  }
  #skilltitle{
    text-decoration-line: underline;
  }

  /* ---------------------- */
 /* DISPLAYS MAZE SOLVING VISUALIZER */
  #astar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
    padding-top: 2%;
  }

  #maze{
    border: solid;
    border-color: rgb(0,0,0);
    
  }

  #outcome{
    color: rgb(255,255,255);
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
  }

  .mazebtn{
    width: 80px;
    height: 30px;
    background-color: rgb(255,255,240);
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: none;
  }

  .mazebtn:hover{
    color: white;
    text-decoration: none;
    background-color:#20B2AA;
  }

  /* ---------------------- */
  /* DISPLAYS GAME */
  #game{
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 2%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .portsections{
    margin-top: 4%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #hwcanvas{
    display: none;
    width: 480px;
    height: 480px;
    border: 1px solid black;
  }

  #settings{
    color: rgb(255,255,240);
    display: none;
    font-family: 'Share Tech Mono', monospace;
  }

  #gallery{
    display: none;
  }

  .tippy-box[data-theme~='dark'] {
    background-color: rgba(0,0,0, .8);
    color: white;
    font-family: 'Share Tech Mono', monospace;
  }

  #themenav{
    padding-top: 8%;
    /* width: 70%;
    margin-left: 15%;
    padding-top: 1%;
    background-color:rgba(255,255,240, .35);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    z-index: -1; */
    /* border: solid;
    border-top: none; */
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  #lighttheme{
    width: 120px;
    height: 40px;
    background-color: rgba(0,0,0,.6);
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    border-style: none;
  }
  #lighttheme:hover{
    width: 120px;
    height: 40px;
    background-color: rgba(0,0,0,.6);
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    border: solid;
  }

  #darktheme{
    width: 120px;
    height: 40px;
    background-color: rgba(0,0,0,.6);
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    border-style: none;
  }
  #darktheme:hover{
    width: 120px;
    height: 40px;
    background-color: rgba(0,0,0,.6);
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    border: solid;
  }